
div, fieldset { margin-left:10px;}
legend {font-weight:bold;}

form { border:1px solid #666; padding:10px;margin-bottom:10px;}
form div {
margin:4px 10px;    
}
form fieldset div {
    margin-left:20px;
}
div label {
    display:inline-block;width:200px;
}
table.data {margin:10px 0; width:95%; background:#fff;}
th {
    background: #aaa;
    height:40px;
    text-transform: uppercase;
    color: #000;
    border:1px solid #999;
}
th.sortable {
  padding-right:25px;
  background:#aaa url(img/arrows.png) 100% 5px no-repeat;
}
th.sortable.up {

  background:#aaa url(img/arrows.png) 100% -95px no-repeat;
}
th.sortable.down {

  background:#aaa url(img/arrows.png) 100% -197px no-repeat;
}
td { border:1px solid #ccc; padding:5px; border-collapse: collapse; }

tr:nth-child(1n){
    background:#fff;
} 

tr:nth-child(2n){
    background:#eee;
} 
.sales tr:nth-child(1n){
    background:#eee;
} 

.sales tr:nth-child(2n){
    background:#fff;
} 
.title{
    width:20%;
}
.number,.grade {
    width:5%
}
.pedigree,
.source{
    width:15%;
}
.commentary {
    width:20%;
}
.sales {
    width:20%;
}
.sales table{
    width:90%;
    padding:0;
    margin:6px auto;
}    

.editing {
    position:fixed;
    top:0;
    left:0;
    display:block;
    -moz-box-shadow:    0px 3px 5px 6px #000;
  -webkit-box-shadow: 0px 3px 5px 6px #000;
  box-shadow:         20px 10px 10px 5px #000;
  width:750px;
  background:#fff;
}

.editing td{
    float:left;
    width:242px;
    height:50px;
}

.edit {
    width :24px;
    height:24px;
    background:url(img/edit.png) no-repeat;
    border:0;
    text-indent:-9999px;
}
