<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <title>$100,000 Club Form</title>

  <link rel="stylesheet" type="text/css" href="/css/normalize.css">
  <link rel="stylesheet" type="text/css" href="/css/main.css">

</head>
<body>

  <div data-ng-app="comicsApp">
    <div data-ng-controller="comicsCtrl">
<form>     
<div><label>cgcid</label><input type="text" data-ng-model="item.cgcid" ></div>
    <div><label>title</label><input type="text" data-ng-model="item.title" list="comicstitle"></div>
    <div><label>issue</label><input type="text" data-ng-model="item.issue" ></div>
    <div><label>version</label><input type="text" data-ng-model="item.version" ></div>
    <div><label>publisher</label><input type="text" data-ng-model="item.publisher" list="comicspublisher"></div>
    <div><label>cover_date</label><input type="date" data-ng-model="item.cover_date" ></div>
    <div><label>pedigree</label><input type="text" data-ng-model="item.pedigree" list="comicspedigree"></div> 
    <div><label>collection</label><input type="text" data-ng-model="item.collection" ></div> 
    <div><label>provenance</label><input type="text" data-ng-model="item.provenance" ></div>
    <div><label>grade_src</label><input type="text" data-ng-model="item.grade_src" ></div>
    <div><label>grade</label><input type="text" data-ng-model="item.grade" ></div>
    <div><label>pq</label><input type="text" data-ng-model="item.pq" ></div>
    <div><label>grading_notes</label><input type="text" data-ng-model="item.grading_notes" ></div>
    <div><label>restoration</label><input type="text" data-ng-model="item.restoration" ></div>
    <div><label>general_commentary</label><textarea data-ng-model="item.general_commentary" ></textarea></div>
    <fieldset><legend ng-toggle>Sales [{{sales.length}} so far]</legend>
      <div><label>sellers_notes</label><textarea data-ng-model="sale.sellers_notes" ></textarea></div>
      <div><label>sale_date</label><input type="date" data-ng-model="sale.sale_date" ></div>  
      <div><label>price</label><input type="text" data-ng-model="sale.price" ></div>
      <div><label>venue</label><input type="text" data-ng-model="sale.venue" ></div>
      <div><label>link</label><input type="text" data-ng-model="sale.link" ></div>
      <div><label>front_cover</label><input type="text" data-ng-model="sale.front_cover" ></div>
      <div><label>back cover</label><input type="text" data-ng-model="sale.back_cover" ></div>
     <div><input type="Button" value="Add" ng-click="addSale(sale)"></div>
    </fieldset>
    <div><label>tags</label><input type="text" data-ng-model="item.tags" ></div>
<div><input type="Button" value="Add" data-ng-click="addItem(item)"> 
<input type="Button" value="Download" data-ng-click="download()"></form> </div>
<div>
 <input type="text" data-ng-model="search" class="search-query" placeholder="Search">
 </div>
  <table>
    <tr>
      <th></th>
      <th ng-show="editorEnabled">cgcid</th>
      <th>title</th>
      <th>issue#</th>
      <th>version</th>
      <th>pedigree</th>
      <th>collection</th> 
      <th>provenance</th>
      <th>grade_src</th>
      <th>grade</th>
      <th>general_commentary</th>
      <th>sales</th>
    </tr>  
    <tr data-ng-repeat="it in items | filter:search | orderBy:'title'" data-ng-class="{editing: editorEnabled}">
      <td>
        <span data-ng-hide="editorEnabled"><input type="checkbox" data-ng-click="editorEnabled=!editorEnabled"></span>
        <span ng-show="editorEnabled">
          <span data-ng-click="editorEnabled=!editorEnabled">Save</span>
        </span>
      </td>
      
      <td ng-show="editorEnabled"><label>cgcid</label><input type="text" data-ng-model="item.cgcid" >
      <td>
        <span data-ng-hide="editorEnabled">{{it.title}}</span>
        <span ng-show="editorEnabled">
          <input data-ng-model="it.title">    
        </span>
      </td>
      <td>
        <span data-ng-hide="editorEnabled">{{it.issue}}</span>
        <span ng-show="editorEnabled">
          <input data-ng-model="it.issue">
       </span>
      </td>
      <td ng-show="editorEnabled"><label>Cover date</label><input type="date" data-ng-model="item.cover_date" ></td>    
      <td>
        <span data-ng-hide="editorEnabled">{{it.version}}</span>
        <span ng-show="editorEnabled">
          <input data-ng-model="it.version"> 
        </span>
      </td>
      <td>
        <span data-ng-hide="editorEnabled">{{it.pedigree}}</span>
        <span ng-show="editorEnabled">
          <input data-ng-model="it.pedigree">
        </span>
      </td>
      <td>
        <span data-ng-hide="editorEnabled">{{it.collection}}</span>
        <span ng-show="editorEnabled">
          <input data-ng-model="it.collection">    
        </span>
      </td> 
      <td>
        <span data-ng-hide="editorEnabled">{{it.provenance}}</span>
        <span ng-show="editorEnabled">
          <input data-ng-model="it.provenance">      
        </span>
      </td>
      <td>
        <span data-ng-hide="editorEnabled">{{it.grade_src}}</span>
        <span ng-show="editorEnabled">
          <input data-ng-model="it.grade_src">
        </span>
      </td>
      <td>
        <span data-ng-hide="editorEnabled">{{it.grade}}</span>
        <span ng-show="editorEnabled">
          <input data-ng-model="it.grade">  
        </span>
      </td>
      <td ng-show="editorEnabled">
        <label>pq</label><input type="text" data-ng-model="it.pq" >
      </td>
      <td ng-show="editorEnabled">
        <label>grading_notes</label><input type="text" data-ng-model="it.grading_notes" >
      </td>
      <td ng-show="editorEnabled">
        <label>restoration</label><input type="text" data-ng-model="it.restoration" >
      </td>
      <td>
        <span data-ng-hide="editorEnabled">{{it.general_commentary}}</span>
        <span ng-show="editorEnabled">
          <textarea data-ng-model="it.general_commentary"></textarea>      
        </span>
      </td>
      <td class="sales">
        <table>
          <tr data-ng-repeat="sl in it.sales" data-ng-class="{editing: editorEnabled}">
            <td>
        <span data-ng-hide="editorEnabled"><input type="checkbox" data-ng-click="editorEnabled=!editorEnabled"></span>
        <span ng-show="editorEnabled">
          <span data-ng-click="editorEnabled=!editorEnabled">Save</span>
        </span>
      </td><td ng-show="editorEnabled">
      <label>sellers_notes</label><textarea data-ng-model="sl.sellers_notes" ></textarea></td>
            <td ng-show="editorEnabled">
      <label>link</label><input type="text" data-ng-model="sl.link" ></td>
            <td ng-show="editorEnabled">
      <label>front_cover</label><input type="text" data-ng-model="sl.front_cover" ></td>
            <td ng-show="editorEnabled">
      <label>back cover</label><input type="text" data-ng-model="sl.back_cover" ></td>
            <td> <span data-ng-hide="editorEnabled">{{sl.venue}}</span>
        <span ng-show="editorEnabled">
          <input data-ng-model="sl.venue">  
        </span></td>
            <td> <span data-ng-hide="editorEnabled">{{sl.sale_date}}</span>
        <span ng-show="editorEnabled">
          <input data-ng-model="sl.sale_date" type="date">  
        </span></td>
             <td ng-show="editorEnabled">
      <label>price</label><input type="text" data-ng-model="sl.price" ></td>
            <td data-ng-show="sl.link"><a href="{{sl.link}}">{{sl.price | currency}}</a></td>
            <td data-ng-hide="sl.link">{{sl.price | currency}}</td>
            <td>
          </tr>
        </table>  
      </td>
    </tr>
  </table>  
<datalist id="comicstitle" data-ng-repeat="ttl in titles">  
<option value="{{ttl}}">
</datalist>
<datalist id="comicspedigree" data-ng-repeat="ped in pedigrees">  
<option value="{{ped}}">
</datalist>
<datalist id="comicspublisher" data-ng-repeat="pub in publishers">  
<option value="{{pub}}">
</datalist>
    </div>
     
  </div>
  <script src="lib/angular/angular.js"></script>
  <script src="lib/jquery/2.0.2/jquery.min.js"></script>
  <script src="lib/lodash/1.2.1/lodash.min.js"></script>
  <script src="js/app.js"></script>
  <script src="js/services.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/filters.js"></script>
  <script src="js/directives.js"></script>
  <script>
//'myApp.filters', 'myApp.services', 'myApp.directives', 
angular.module('comicsApp', ['comicsApp.controllers']);
angular.module('comicsApp.controllers', []).
  controller('comicsCtrl', [ "$scope", "$http",
    function( $scope , $http)  {
      $http({"method" : "GET", "url" : "data/books.json"}).success(
        function(data){
         $scope.items = data.books;
        
         var titles = [], pedigrees = [], publishers = [];
         for (var i=0; i < data.books.length; i++){
           titles.push(data.books[i].title)
           if (data.books[i].pedigree){
            pedigrees.push(data.books[i].pedigree)
           }
           if (data.books[i].publisher){
           publishers.push(data.books[i].publisher)
         }
           
         }
         $scope.publishers = _.unique(publishers);
         $scope.pedigrees = _.unique(pedigrees);
         $scope.titles = _.unique(titles);
         $scope.uid = data.books.length;
         });
      $scope.sales = [];
      $scope.addItem = function(item) { 
        item.sales = $scope.sales;
        item.uid = $scope.uid;
        $scope.uid++;
        $scope.items.push(item);
        $scope.item = {};
        $scope.sales = [];
        if (item.pedigree){
          $scope.pedigrees.push(item.pedigree)
          $scope.pedigrees = _.unique($scope.pedigrees);
        }
        if (item.publisher){
          $scope.publishers.push(item.publisher)
          $scope.publishers = _.unique($scope.publishers);
        }
        $scope.titles.push(item.title);
        $scope.titles = _.unique($scope.titles);
      } 
      $scope.addSale = function(sale) {
        $scope.sales.push(_.clone(sale));
        for (var val in sale){
          delete sale[val];
        }
      } 
      $scope.download = function(){
        var items = $scope.items,
            len = items.length;
        for ( var i = 0; i <len; i++){
          delete items[i]["$$hashKey"];
        }
        window.open('data:applicaion/json;charset=utf-8,' + escape(JSON.stringify(items)));

      }
  }
])
</script>


</body>


</html>

