#the-club {
  table.data {
    margin: rem(10) 0;
    width:95%;
    background:$white;
    td,th{
      padding: rem(3) rem(5);
      border-collapse: collapse;
    }
    td {
      font-family: $roboto-condensed;
    }
    th {
      font-family: $lato;
      background: $lightest-orange;
      height: rem(40);
      text-transform: uppercase;
      color: $darkest-blue;
      border-bottom:1px solid $darkest-blue;
      position: relative;
      text-align:left;
    }
    th.sortable {
    }
    th.sortable.up:after,
    th.sortable.up:before {
      position:absolute;
      right:rem(10);
    }
    th.sortable.up:after {
      content:"▲";
    }
    th.sortable.down:after {
      content:"▼";
    }
  }

.data td { border:1px solid #ccc; padding:5px; border-collapse: collapse; }

.data tr:nth-child(1n){
    background:$white;
} 

.data tr:nth-child(2n){
    background:#eee;
} 
.sales tr:nth-child(1n){
    background:#eee;
} 

.sales tr:nth-child(2n){
    background:$white;
} 
.title{
    width:20%;
}
.number,.grade {
    width:5%
}
.pedigree,
.source{
    width:15%;
}
.commentary {
    width:20%;
}
.sales {
    width:20%;
}
.sales table{
    width:90%;
    padding:0;
    margin:6px auto;
}    

.editing {
    position:fixed;
    top:0;
    left:0;
    display:block;
    -moz-box-shadow:    0px 3px 5px 6px #000;
  -webkit-box-shadow: 0px 3px 5px 6px #000;
  box-shadow:         20px 10px 10px 5px #000;
  width:750px;
  background:$white;
}

.editing td{
    float:left;
    width:242px;
    height:50px;
}

.edit {
    width :24px;
    height:24px;
    background:url(img/edit.png) no-repeat;
    border:0;
    text-indent:-9999px;
}
#filter-box {
    margin-bottom: 20px;
    height: 30px;
}
#filter-box label {
    font-size: 14px;
}

text {
  font-family:Verdana,Geneva,'DejaVu Sans',sans-serif;
  font-size:12px;
}
text.legend {
  font-size:10px;
}
}
