<!DOCTYPE html>
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<title>$100,000 Club 2.0</title>
<META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">
  <link href="https://fonts.googleapis.com/css?family=Lato|Roboto+Condensed" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="_assets/styles/vendor/normalize.css">
<link rel="stylesheet" type="text/css" href="_assets/styles/vendor/main.css">
<link rel="stylesheet" href="_assets/styles/styles.css">
</head>
<body>
  
<div data-ng-app="comicsApp" id="the-club">
<div data-ng-controller="chartCtrl"> <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
   width="100%" viewBox="0 0 1024 700" enable-background="new 0 0 1024 700" xml:space="preserve">
        <filter id="drop-shadow">
          <feGaussianBlur in="SourceAlpha" stdDeviation="2" result="blur"/>
          <feOffset in="blur" dx="4" dy="4" result="offsetBlur"/>
          <feMerge>
            <feMergeNode in="offsetBlur"/>
            <feMergeNode in="SourceGraphic"/>
          </feMerge>
        </filter>
        
        <g id="base-lines">
          <line fill="none" stroke="#000000" stroke-miterlimit="10" x1="75" y1="25" x2="75" y2="675"></line>
          <line fill="none" stroke="#000000" stroke-miterlimit="10" x1="0" y1="675" x2="990" y2="675"></line>
        </g>

        <g id="horizontal-lines" horizontal-lines data-baseline="{{baseline}}" data-max-price="{{maxPrice}}">
          
        </g>
        <g id="vertical-lines" vertical-lines data-start-year="{{startYear}}" data-end-year="{{endYear}}">
          
        </g>
        
        <g id="years" year-labels data-start-year="{{startYear}}" data-end-year="{{endYear}}">
         </g>
        <g id="text" dollar-labels data-baseline="{{baseline}}" data-max-price="{{maxPrice}}">
        </g>
        <g id="legend">
          <rect x="125" y="0" width="15" height="15" fill="#D95B43" data-ng-mouseover="venues='comicconnect'" data-ng-mouseout="venues=''"></rect>
          <text x="145" y="10" class="legend">Comic Connect</text>
          <rect x="245" y="0" width="15" height="15" fill="{{colors.heritage}}" data-ng-mouseover="venues='heritage'" data-ng-mouseout="venues=''"></rect>
          <text x="265" y="10" class="legend">Heritage</text>
          <rect x="325" y="0" width="15" height="15" fill="{{colors.comiclink}}" data-ng-mouseover="venues='comiclink'" data-ng-mouseout="venues=''"></rect>
          <text x="345" y="10" class="legend">ComicLink</text>
          <rect x="405" y="0" width="15" height="15" fill="{{colors.pedigreecomics}}" data-ng-mouseover="venues='pedigreecomics'" data-ng-mouseout="venues=''"></rect>
          <text x="425" y="10" class="legend">Pedigree</text>
          <rect x="485" y="0" width="15" height="15" data-ng-attr-fill="{{colors.metropolis}}" data-ng-mouseover="venues='metropolis'" data-ng-mouseout="venues=''"></rect>
          <text x="505" y="10" class="legend">Metropolis</text>
          <rect x="575" y="0" width="15" height="15" data-ng-attr-fill="{{colors.default}}"></rect>
          <text x="595" y="10" class="legend">Other/Unknown</text>
        </g>
        <g id="dynamic" sales-points  data-start-year="{{startYear}}" data-end-year="{{endYear}}" data-baseline="{{baseline}}" data-max-price="{{maxPrice}}">
        </g>
      </svg>
      </div>
      <div data-ng-controller="recordCtrl">
        <div id="filter-box">
    <label for="filter" class="columns two">Filter the table</label><input type="text" data-ng-model="search" name="filter" class="search-query columns five ng-valid ng-dirty" placeholder="try cgc, batman, heritage or marvel"> <button ng-click="search=''">Reset Filter</button>
  </div>
        <table class="data">
          <tr>
            <th class="title sortable" data-ng-class="{up:sort=='title', down:sort=='-title'}"data-ng-click="sorter('title')">Title</th>
            <th>Issue#</th>
            <th class="pedigree sortable" data-ng-class="{up:sort=='pedigee', down:sort=='-pedigree'}"data-ng-click="sorter('pedigree')">Pedigree</th>
            <th>Grade</th>
            <th class="id sortable" data-ng-class="{up:sort=='id', down:sort=='-id'}"data-ng-click="sorter('id')">ID</th>
            <th class="date sortable" data-ng-class="{up:sort=='date', down:sort=='-date'}"data-ng-click="sorter('date')">Date</th>
            <th class="venue sortable" data-ng-class="{up:sort=='venue', down:sort=='-venue'}"data-ng-click="sorter('venue')">Venue</th>
            <th class="price sortable" data-ng-class="{up:sort=='price', down:sort=='-price'}"data-ng-click="sorter('price')">Price</th>
          </tr>
          <tr data-ng-repeat="it in items | orderBy:sort">
            <td class="title">{{it.title}}</td>
            <td class="number">{{it.issue}}</td>
            <td class="ped">{{it.pedigree}}{{it.collection}}{{it.provenance}}</td>
            <td class="grade">{{it.grade}}</td>
            <td class="uid">{{it.uid}}</td>
            <td>{{it.date | saneDate }}</td>
            <td>{{it.venue| sellers}}</td>
            <td data-ng-show="it.link"><a href="{{it.link}}">{{it.price | currency}}</a></td>
            <td data-ng-hide="it.link">{{it.price | currency}}</td>
          </tr>
        </table>
      </div>
</div>
<!-- build:js(app) scripts/vendor.js -->
<script src="_assets/scripts/vendor/angular/angular.min.js"></script>
<script src="_assets/scripts/vendor/jquery/jquery.min.js"></script>
<script src="_assets/scripts/vendor/lodash/lodash.min.js"></script>
<script src="_assets/scripts/vendor/moment.min.js"></script>
<!-- endbuild -->
    <!-- build:js(app) scripts/scripts.js -->
<script src="_assets/scripts/app/app.js"></script>
<script src="_assets/scripts/app/services.js"></script>
<script src="_assets/scripts/app/chartController.js"></script>
<script src="_assets/scripts/app/silverAgeController.js"></script>
<script src="_assets/scripts/app/comicsController.js"></script>
<script src="_assets/scripts/app/recordController.js"></script>
<script src="_assets/scripts/app/directives.js"></script>
<script src="_assets/scripts/app/sales-points.js"></script>
<script src="_assets/scripts/app/filters.js"></script>
<!-- endbuild -->

</body>
</html>
